<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/User/update" method="post">
    用户名：&emsp;<input type="text" th:value="${user.getUserName()}" name="userName"><br>
    用户ID：&emsp;<input type="text" th:value="${user.getUserId()}" name="userId" readonly><br>
    电子邮箱：<input type="text" th:value="${user.getEmail()}" name="email"><br>
    密码：&emsp;&emsp;<input type="text" th:value="${user.getPassword()}" name="password"><br>
    用户类型：<input type="text" th:value="${user.getType()}" name="type"><br>
    <input type="submit" value="提交">
</form>
</body>
</html>